body {
  font-family: "League Spartan", sans-serif;
  position: sticky;
}

.header-container {
  display: flex;
  width: 1440px;
  padding-top: 104px;
  padding-bottom: 168px;
  background-color: #f8f8f8;
  margin: 0 auto;
}

.header-title {
  margin-bottom: 53px;
  font-weight: 300;
  font-size: 24px;
  line-height: 45px;
}

.header-subtitle {
  margin-bottom: 43px;
  font-size: 250px;
  line-height: 230px;
}

.header-description {
  margin-bottom: 61px;
  font-size: 32px;
  line-height: 50px;
}

.buy-wrapper {
  display: flex;
}

.buy-link {
  display: block;
  width: 278px;
  height: 82px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 32px;
  line-height: 82px;
  text-align: center;
}

.price {
  width: 143px;
  height: 82px;
  background-color: white;
  color: #272727;
  text-decoration: none;
  font-size: 32px;
  line-height: 82px;
  text-align: center;
}

.header-image {
  display: block;
  width: 772px;
  margin-top: -104px;
}

.popular {
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  margin-top: 43px;
  font-weight: 300;
}

.models {
  font-size: 72px;
  line-height: 81px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 84px;
}

.item-wrapper {
  margin: 0 auto;
  width: 417px;
  margin-bottom: 85px;
}

.item-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;
  height: 630px;
  background-color: #f8f8f8;
  margin-bottom: 67px;
}

.item-title {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 17px;
  text-align: center;
  font-weight: 400;
}

.item-description {
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  font-weight: 300;
}

.product-description-wrapper {
  margin: 0 auto;
  width: 417px;
  margin-bottom: 85px;
  margin-top: 100px;
}

.product-description-title {
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  margin-bottom: 58px;
  font-weight: 400;
}

.product-description-title::after {
  content: url(./images/Line\ 4.svg);
  margin-top: -50px;
  margin-bottom: 49px;
}

.product-description {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
}

.reference {
  color: #bb8b5d;
}
